body {
    background-color: #FFFFFF;
    font-family: 'Dosis', sans-serif; 

}

html,
body {
    width: 100%;
    height: 100%;
}


table,
th,
td {
    border: 1px solid black;
}

.w-20 {
    width: 15% !important;
}

.iconu {
    width: 25% !important;
}

.iconuc {
    width: 20% !important;
}

.iconc {
    width: 8% !important;
    height: 20% !important;
}

.iconcc {
    width: 8% !important;
    height: 15% !important;
}

.iconmatch {
    width: 15% !important;
    
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="date"],
select {
    border: solid 0px black;
    border-bottom: solid 1px black;
    width: 65% !important;
    background-color: #f2f2f2;

}

input[type="checkbox"]{
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="date"]:focus
select:focus {
    border: solid 0px black;
    border-bottom: solid 1px rgb(66, 66, 66);
    width: 65% !important;
    background-color: #f2f2f2;

}

input[type="submit"] {
        border-top: solid 2px #291f3d;
    border-left: solid 2px #291f3d;
    border-bottom: solid 4px #291f3d;
    border-right: solid 4px #291f3d;
    background-color: #FFFFFF;
    padding-left: 4% !important;
    padding-right: 4% !important;
    background-color: #523E7A;
    color: #FFFFFF;
}
a{
    text-decoration: none;
    color: #523E7A;
}

a:hover, a:active, a:visited {
    text-decoration: none;
    color: #523E7A;
}

.pentrar {
    color: #523E7A;
}

.image-upload>input {
    display: none;
}

.iconi {
    width: 50% !important;
}

.caixapc {
    height: 80% !important;
    border-radius: 3%;
    border: solid 2px black;
    box-shadow: 5px 9px 13px 10px #362951;
}

#curriculotxt {
    width: 75% !important;
    min-height: calc(3em + 2rem + 4px);
    padding: .5rem 1rem;
}

select option {
    color: black;
}

select option:hover{
    background: #523E7A !important;
    color: white;

}

.bg-purple {
    background-color: #523E7A!important;
}


label{
    cursor: pointer;
}
p strong{
    font-size: 18pt;
}

.imgPerfil{
    border-radius: 50%;
    border: solid 3px #523E7A;
    width: 35% !important;
    height: 25% !important;
}

.imgMatches{
    border-radius: 50%;
    border: solid 3px #523E7A;
    width: 50% !important;
}



.bginteresse{
    background-color: #fdd239!important;
}

.caixapf {
    height: 90% !important;
    border-radius: 3%;
    border: solid 2px black;
    box-shadow: 5px 9px 13px 10px #362951;
}

.iconl {
    width: 10% !important;
    height: 12% !important;
    cursor: pointer;

}



.botaomatch{
    border-top: solid 2px #523E7A;
    border-left: solid 2px #523E7A;
    border-bottom: solid 4px #523E7A;
    border-right: solid 4px #523E7A;
    background-color: #FFFFFF;
    padding-left: 4% !important;
    padding-right: 4% !important;
}

input[type="checkbox"]:checked{
    color: #523E7A;
}

.mt-center {
    margin-top: 10rem!important;
}

.textoinicial{
    color: white; 
    padding-left: 45pt; 
    padding-right: 45pt;
    font-size: 16pt;
    
}

.backgroundRoxo{
    background-image: url("../images/fundo.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%!important;
    
}

.modal-header{
    background-color: #291f3d;
    color: white;
}

.modal-body, .modal-footer{
    background-color: white; 
    border: solid 0px white;
    color: black;
}
.modal-footer button{
    background-color: #fdd239;
    border-color: black;
    color: black;
}
/*Side bar */
.bgsidebar{
    background-color: #291f3d!important;
}